wifi_ssid: "SSID"
wifi_password: "password"

fallback_ssid: "Fallback Hotspot"
fallback_password: "password"

# see https://esphome.io/components/api.html
api_key: "l5NVG1uSV1IwOq3G50ZMmguCm+Jfd95DTpwmBoofcWc="

ota_password: "password"

latitude: 48.8584
longitude: 2.2945

somfy_address_badezimmer: 0x123456
somfy_address_kinderzimmer: 0x654321
somfy_address_bedroom: 0xabcde1

funkbus_serial: 123456
